/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
	--btn-default-background: url(../images/cover-image-dark.png);
	--accent-color:#FF0070;
	--color-header:#DB00FF;
	--color-text: rgba(255, 194, 230, 1);
	--accent-text: #000028;
	--color-rectengle:#FF0070;
	--color-title:#FF0070;
	--visible:visible;
	--color-link:#fff;

}
